$background-color: #fafafa;
$brand-color: #e53344;
$body-color: #333648;
$background-color: whitesmoke;

$header-font: Lato, Avenir, Helvetica, Sans-Serif;
$body-font: Avenir, Lato, Helvetica, Arial, Sans-Serif;