$background-color: #fafafa;
$brand-color: #e53344;
$body-color: #333648;
$body-color-faded: rgba(51, 54, 72, .1);
$blue: #3f51b5;
$transition: 300ms ease;
$background-color: whitesmoke;

$breakpoint-large-desktop: 1366px;
$breakpoint-small-desktop: 1024px;
$header-font: Lato, Avenir, Helvetica, Sans-Serif;
$body-font: Avenir, Lato, Helvetica, Arial, Sans-Serif;