@import '../variables/variables.scss';

* {
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    scroll-behavior: smooth;
  }
  
  html {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
  }
  
  body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    background-color: $background-color;
  }

  #nprogress .bar {
    background: $blue !important;
    height: 1vh;
}

#nprogress .peg {
    box-shadow: 0 0 10px $blue, 0 0 5px $blue !important;
}

#nprogress .spinner-icon {
    border-top-color: $blue !important;
    border-left-color: $blue !important;
}