@import '../variables/variables.scss';

.gif-wrapper {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 500px;
    margin: 15px;
    margin-top: -5vh;
}
.gif-img-wrapper {
    height: 70%!important;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(34, 34, 34,.3);
}
.gif-wrapper__image {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    &:hover {
        transition: .5s;
        box-shadow: 0px 3px 10px rgba(34, 34, 34,.4);
        cursor: pointer;
    }
}
.gif-wrapper__title {
    font-family: $body-font;
    color: $body-color;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
}

@media (max-width: $breakpoint-phone) {
    .gif-wrapper  {
        flex-direction: column;
        width: 100%;
   }
   .gif-wrapper__title {
       font-size: 1.3rem;
   }
}